/*
--------
RESET
--------
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
--------
COMMON
--------
*/

header,
#jumbotron {
    padding: 0 1.875rem;
}

:root {
    --first-color: #0084fd;
    --first-color-light: #b5ddff;
    --second-color: #9792e4;
}

.flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.wrap {
    flex-wrap: wrap;
}

.container-big {
    max-width: 1140px;
    margin: 0 auto;
}

section:nth-of-type(even) {
    background-color: var(--second-color);
}

/*
--------
HEADER
--------
*/

header {
    background-color: var(--first-color);
}

header .menu {
    display: none;
}

@media screen and (min-width:992px) {
    header .menu {
        display: block;
    }

    header .hamburger {
        display: none;
    }
}

/*
--------
MAIN
--------
*/

/* 
Jumbotron
*/

#jumbotron .container-big {
    gap: 25px;
    margin: 3.125rem auto 5rem;
}

#jumbotron .col {
    background-color: var(--first-color-light);
}

#jumbotron .col-big {
    width: 100%;
}

#jumbotron .col-small {
    width: 100%;
}

@media screen and (min-width:768px) {
    #jumbotron .col-big {
        width: calc((100% / 3) * 2 - 0.7813rem);
    }

    #jumbotron .col-small {
        width: calc(100% / 3 - 1.5625rem);
    }
}

@media screen and (min-width:992px) {
    #jumbotron .col-big {
        flex-wrap: nowrap;
    }
}
