/*
--------
RESET
--------
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
--------
TYPO
--------
*/

body {
    font-family: 'PT Sans', sans-serif;
}

a {
    text-decoration: none;
}

header,
#strategic-planning .strategic-planning,
#partners .partners {
    color: #fff;
}

main #jumbotron .col-small i {
    font-size: 3.75rem;
    color: var(--first-color);
    margin-bottom: 1.875rem;
}

main #jumbotron h3 {
    color: var(--first-color);
    font-size: 1.5rem;
}

main #jumbotron p {
    color: #5a6e7f;
    font-weight: 700;
    line-height: 2em;
}

#jumbotron .col-small,
#strategic-planning .app-development,
#partners,
#partners img {
    text-align: center;
}

#strategic-planning .strategic-planning h3 {
    font-size: 4em;
}

#strategic-planning .app-development h5 {
    font-size: 1.375rem;
}

#strategic-planning p {
    font-size: .875rem;
    line-height: 1.8em;
}

#partners h6 {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.125rem ;
}

#partners h3 {
    color: var(--second-color);
    font-size: 2.5em;
}

#partners .partners p {
    line-height: 2em;

}

#partners .partners h5 {
    font-size: 1.625rem;
}

@media screen and (min-width:992px) {

    #strategic-planning .strategic-planning h3 {
        font-size: 2.5em;
    }

    #partners h6 {
        font-size: 1rem;
    }

}

#benefits h3 {
    color: #fff;
    font-size: 2.5em;
    text-align: center;
}

#benefits h2, 
#benefits h4 {
    color: var(--second-color);
}

#benefits h2 {
    font-size: 4em;
}

#benefits h4 {
    font-size: 1.5em;
}

#benefits p {
    line-height: 2em;
}

#benefits a {
    color: #fff;
}

/*
--------
COMMON
--------
*/

header,
#jumbotron,
#strategic-planning,
#partners,
#benefits,
#about-us {
    padding: 0 1.875rem;
}

:root {
    --first-color: #0084fd;
    --first-color-light: #b5ddff;
    --second-color: #9792e4;
}

.flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.wrap {
    flex-wrap: wrap;
}

.container-big {
    max-width: 1140px;
    margin: 0 auto;
}

.container-mid {
    max-width: 880px;
    margin: 0 auto;
}

section:nth-of-type(even) {
    background-color: var(--second-color);
}

/*
--------
BUTTONS
--------
*/

.btn {
    display: block;
}

/*
--------
HEADER
--------
*/

header {
    background-color: var(--first-color);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
}

header .container-big {
    align-items: center;
    padding: 1.25rem 0;
}

header .menu {
    display: none;
}

header .menu ul {
    gap: 1.875rem;
    align-items: center;
}

header .menu ul li {
    list-style-type: none;
}

header .menu ul li a {
    color: inherit;
}

header .menu ul li .btn {
    background-color: #fff;
    color: #000;
    padding: .625rem;
    border-radius: 2.1875rem;
    font-family: inherit;
}

@media screen and (min-width:992px) {

    header .menu {
        display: block;
    }

    header .hamburger {
        display: none;
    }
}

/*
--------
MAIN
--------
*/

/* 
Jumbotron
*/

#jumbotron{
    margin-top: 115px;
}

#jumbotron .container-big {
    /* gap: 25px; */
    margin: 3.125rem auto 5rem;
}

#jumbotron .rows {
    margin: 0 -0.7813rem;
}

#jumbotron .col {
    background-color: var(--first-color-light);
    margin: .7813rem;
    border-radius: 1.5625rem;
    padding: 2.1875rem 1.5625rem;
}

#jumbotron .col-big {
    width: 100%;
}

#jumbotron .col-small {
    width: 100%;
}

#jumbotron .col-big .text {
    width: 55%;
    flex-grow: 1;
}

#jumbotron .col-big .img {
    width: 50%;
    position: relative;
    margin-top: 11.25rem;
    flex-grow: 1;
}

#jumbotron .col-big .img img {
    width: 12.5rem;
    position: absolute;
    bottom: -2.1875rem;
    left: 50%;
    transform: translate(-50%, 0);
}

#jumbotron .col h3 {
    margin-bottom: 2.5rem;
}

#jumbotron .col-big a {
    display: inline-block;
    margin-top: 2.5rem;
    margin-bottom: 3rem;
    background-color: var(--first-color);
    color: #fff;
    padding: .625rem 2.8125rem;
    border-radius: 1.5625rem;
}

#jumbotron .col-big i {
    margin-right: .625rem;
}

@media screen and (min-width:768px) {

    #jumbotron .col-big {
        width: calc((100% / 3) * 2 - 1.5625rem);
    }

    #jumbotron .col-small {
        width: calc(100% / 3 - 1.5625rem);
    }

    #jumbotron .col-big .img img {
        left: 20%;
    }
}

@media screen and (min-width:992px) {

    #jumbotron .col-big {
        flex-wrap: nowrap;
    }

    #jumbotron .col-big .img img {
        left: 50%;
        transform: translate(-50%, 0);
    }
}

/* Strategic planning */

#strategic-planning .container-mid {
    align-items: flex-end;
    padding: 7.5rem 0 3.75rem;
    justify-content: center;
}

#strategic-planning .container-mid .strategic-planning h3 {
    margin: 8.125rem 0 3.125rem;
}

#strategic-planning .container-mid .app-development {
    background-color: #fff;
    padding: 2.5rem 2.5rem 1.875rem;
    border-radius: 2.5rem;
    margin-top: 2.1875rem;
}

#strategic-planning .app-development h5 {
    margin: 1.5625rem 0;
}

#strategic-planning .app-development p {
    margin-bottom: 2.1875rem;
}

#strategic-planning .app-development a {
    display: inline-block;
    color: #000;
    background-color: var(--second-color);
    padding: .3125rem .625rem;
    border-radius: 50%;
}

#strategic-planning img {
    width: 100%;
}

@media screen and (min-width:992px) {

    #strategic-planning .container-mid {
        flex-wrap: nowrap;
        gap: 3.75rem;
    }

    #strategic-planning .container-mid .strategic-planning {
        width: 55%;
        flex-grow: 1;
    }

    #strategic-planning .container-mid .app-development {
        width: 45%;
    }
}

/* Partners */

#partners h6 {
    margin: 4.0625rem 0 2.8125rem;    
}

#partners .container-big > p {
    margin: 4.0625rem 0;
}

#partners .partners {
    background-color: var(--second-color);
    padding: 1.5625rem .9375rem 2.5rem;
    margin-bottom: 1.875rem;
    justify-content: center;
    border-radius: 2.5rem;
}

#partners .partners .quotes {
    /* width: 65%; */
    flex-grow: 1;
    align-content: center;
    justify-content: center;
    gap: 1.875rem;
}

#partners .partners i {
    margin: 0 .625rem;
}

#partners .partners img {
    object-fit: cover;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    margin-bottom: 1.5625rem;
}

@media screen and (min-width:768px) {

    #partners > .partners {
        flex-wrap: nowrap;
    }
    
    #partners .partners .quotes {
        justify-content: flex-start;
        text-align: left;
        margin-left: .9375rem;
        width: 75%;
    }
}

/* Benefits */

#benefits .container-big {
    padding: 4.375rem 0 3.75rem;
}

#benefits h3 {
    margin-bottom: 4.375rem;
}

#benefits .benefits-boxes {
    margin: 0 -0.9375rem;
}

#benefits .benefits-boxes .benefit {
    background-color: #fff;
    margin: .9375rem;
    padding: 3.125rem 2.5rem 1.875rem 1.5625rem;
    border-radius: 1.875rem;
}

#benefits .benefit h4 {
    margin: 1.875rem 0;
}

#benefits .benefit p {
    margin-bottom: 1.875rem;
}

#benefits a {
    background-color: var(--second-color);
    padding: .625rem 3.125rem;
    border-radius: 1.5625rem;
}

@media screen and (min-width:768px) {

    #benefits .benefits-boxes .benefit {
        width: calc(100% / 2 - 1.875rem);
    }
    
}

@media screen and (min-width:992px) {

    #benefits .benefits-boxes .benefit {
        width: calc(100% / 3 - 1.875rem);
    }
    
}

/* About us */

@media screen and (min-width: 768px) {

    #about-us .container-big {
        flex-wrap: nowrap;
    }
}

/*
--------
FOOTER
--------
*/
